---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout pageTitle="SOC Services" pageDescription="">
    <section class="overflow-hidden relative">
        <div class="slantGradient z-0 absolute 2xl:top-[-600px] xl:top-[-400px] lg:top-[-300px] left-[-300px] bg-gradient-to-tr from-green-800 to-blue-600 h-[80vh] w-[200vw] xl:-rotate-[10deg] -rotate-[15deg]"></div>
        
        <div class="content relative z-[1] lg:pt-20 pt-10 grid place-items-center w-full">
            <div class="container">
                <article class="py-10 px-6">
                    <h1 class="text-white text-3xl font-semibold text-center pb-4">SOC Services</h1>
                    
                    <figure class="my-5 lg:h-[400px] h-[250px] lg:w-full">
                        <img class="rounded-lg shadow-lg size-full object-cover" src="/assets/images/soc-services.jpeg" alt="Vulnerability Assessment and Penetration Testing">
                    </figure>

                    <p>At Cybersecurity Finland, our SOC services are designed to proactively monitor, detect, and
                        respond to cybersecurity threats, ensuring the resilience of your security measures. Our
                        dedicated team operates around the clock to safeguard your organization's digital assets and
                        infrastructure.</p>
                    
                    <h2 class="text-xl font-semibold mt-5 mb-3">What We Offer</h2>
                    <p>Within our SOC services, we leverage advanced threat detection technologies and expert
                        analysis to continuously monitor your network for suspicious activities and potential security
                        breaches. Our proactive approach allows us to identify threats early, minimizing their impact on
                        your operations.</p>
                    <p>As part of our SOC services, we conduct thorough investigations into detected threats, providing
                        detailed insights and actionable recommendations for strengthening your defenses. Our goal is
                        to empower your organization with the knowledge and tools needed to mitigate risks effectively.</p>

                    <h2 class="text-xl font-semibold mt-5 mb-3">Deliverables</h2>
                    <p>Upon detecting and analyzing potential threats, we provide comprehensive reports detailing our
                        findings, including recommendations for enhancing your security posture. These reports are
                        tailored to your organization's specific needs and priorities, ensuring that you can prioritize and
                        implement security improvements effectively.</p>
                    
                    <h2 class="text-xl font-semibold mt-5 mb-3">Why Choose Us</h2>
                    <p>Cybersecurity Finland's SOC services are backed by a team of highly skilled cybersecurity
                        professionals with extensive experience in threat detection and incident response. We combine
                        industry best practices with cutting-edge technologies to deliver proactive and effective security
                        solutions.</p>
                    <p>By partnering with us for SOC services, you gain access to a dedicated team that is committed
                        to protecting your organization from cyber threats and ensuring continuous monitoring and
                        response capabilities. Our proactive approach helps you stay ahead of potential threats,
                        minimizing risks and ensuring business continuity.</p>
                    
                    <h2 class="text-xl font-semibold mt-5 mb-3">Take Action Today</h2>
                    <p>Investing in our SOC services is an investment in the security and resilience of your
                        organization. By leveraging our expertise and proactive monitoring capabilities, you can
                        enhance your cybersecurity posture and protect your valuable assets from evolving cyber
                        threats.
                        </p>
                    
                    <h2 class="text-xl font-semibold mt-5 mb-3">Contact Us</h2>
                    <p>Ready to strengthen your organization's defenses with our SOC services? Contact
                        Cybersecurity Finland today to learn more about how our SOC solutions can help safeguard
                        your business against cyber threats.</p>
                </article>
            </div>
        </div>
    </section>

</MainLayout>