---

---

<!-- Counter Section -->
<div class="counter-section py-4 flex flex-wrap gap-3 justify-between items-center">
    <div class="wrapper w-full gap-2 flex-wrap lg:gap-0 flex justify-center lg:justify-between">

        <div
            class="counter flex w-[48%] lg:w-[30%] items-center gap-5 p-2 lg:p-4 border border-gray-300 hover:border-gray-400 hover:shadow-xl rounded-md">
            <span class="icon bg-green-600 text-white text-xl lg:text-3xl flex justify-center items-center p-2 lg:p-4 w-12 h-12 lg:size-24 rounded-md ">
                <i class="fa-sharp fa-solid fa-list-check"></i>
            </span>
            <span class="data flex flex-col">
                <span class="bigData text-3xl lg:text-5xl">
                    1K+
                </span>
                <span class="title text-xl uppercase">
                    Projects Completed
                </span>
            </span>
        </div>

        <div
            class="counter flex w-[48%] lg:w-[30%] items-center gap-5 p-2 lg:p-4 border border-gray-300 hover:border-gray-400 hover:shadow-xl rounded-md">
            <span class="icon bg-green-600 text-white text-xl lg:text-3xl flex justify-center items-center p-2 lg:p-4 w-12 h-12 lg:w-24 lg:h-24 rounded-md ">
                <i class="fa-regular fa-thumbs-up"></i>
            </span>
            <span class="data flex flex-col">
                <span class="bigData text-3xl lg:text-5xl">
                    750+
                </span>
                <span class="title text-xl uppercase">
                    Satisfied Clients
                </span>
            </span>
        </div>

        <div
            class="counter flex w-[48%] lg:w-[30%] items-center gap-5 p-2 lg:p-4 border border-gray-300 hover:border-gray-400 hover:shadow-xl rounded-md">
            <span class="icon bg-green-600 text-white text-xl lg:text-3xl flex justify-center items-center p-2 lg:p-4 w-12 h-12 lg:w-24 lg:h-24 rounded-md ">
                <i class="fa-solid fa-earth-americas"></i>
            </span>
            <span class="data flex flex-col">
                <span class="bigData text-3xl lg:text-5xl">
                    15+
                </span>
                <span class="title text-xl uppercase">
                    Global Support
                </span>
            </span>
        </div>

    </div>
</div>