---

---

<style is:inline>
    .cardImage {
        animation: float 6s ease-in-out infinite;
    }
    /* Keyframes */
    @-webkit-keyframes float {
        0%,
        50% {
            -webkit-transform: translate(0, 0);
            -webkit-animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
        }
        25% {
            -webkit-transform: translate(-7px, 5px);
            -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
        }
        75% {
            -webkit-transform: translate(7px, -5px);
            -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
        }
        to {
            -webkit-transform: translate(0, 0);
        }
    }
</style>
<!-- Filter -->
<section class="services flex justify-center">
    <!-- pt-16 -->
    <div class="wrapper w-full p-5 lg:p-0 h-full flex justify-center text-black">
        <div class="services-container gap-y-5 flex justify-center items-center flex-col">
            <h2 class="title font-semibold text-2xl">
                Affordable CyberSecurity Services Galore
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis atque iusto laborum vel aliquid aperiam, officia quas, quasi fugit blanditiis, repellendus molestias eos adipisci! Voluptatum ipsa explicabo nobis fugit eaque.
            </p>
            <div class="services-brands flex gap-5 justify-center items-center flex-wrap uppercase">
                <div class="socialBrands active shadow-orange-400 hover:shadow-md border rounded-md bg-orange-200 text-orange-500 cursor-pointer p-3">
                    <i class="mr-3 fa-brands fa-facebook"></i>ServiceName_1
                </div>
                <div class="socialBrands shadow-orange-400 hover:shadow-md border rounded-md bg-orange-200 text-orange-500 cursor-pointer p-3">
                    <i class="mr-3 fa-brands fa-square-instagram"></i>ServiceName_2
                </div>
                <div class="socialBrands shadow-orange-400 hover:shadow-md border rounded-md bg-orange-200 text-orange-500 cursor-pointer p-3">
                    <i class="mr-3 fa-brands fa-youtube"></i>ServiceName_3
                </div>
                <div class="socialBrands shadow-orange-400 hover:shadow-md border rounded-md bg-orange-200 text-orange-500 cursor-pointer p-3">
                    <i class="mr-3 fa-brands fa-x-twitter"></i>ServiceName_4
                </div>
                <div class="socialBrands shadow-orange-400 hover:shadow-md border rounded-md bg-orange-200 text-orange-500 cursor-pointer p-3">
                    <i class="mr-3 fa-brands fa-telegram"></i>ServiceName_5
                </div>
                <div class="socialBrands shadow-orange-400 hover:shadow-md border rounded-md bg-orange-200 text-orange-500 cursor-pointer p-3">
                    <i class="mr-3 fa-brands fa-tiktok"></i>ServiceName_6
                </div>
            </div>

            <div class="service-explain-container w-full rounded-lg bg-gradient-to-br from-[#23564c] to-[#f6fadd] p-5 text-white">
                <div class="ServiceName_1 serviceList flex gap-4 flex-col-reverse lg:flex-row">
                    <div class="left w-full lg:w-1/2 flex flex-col gap-4">
                        <div class="service-heading text-xl font-bold capitalize">
                            Service Name 1
                        </div>
                        <p class="content-desc text-lg">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum repellat veniam deleniti rerum, dolor voluptas sequi porro suscipit eveniet dolorem labore distinctio maiores amet, laudantium facere facilis consequuntur. Pariatur, blanditiis.
                        </p>
                        <ul class="text-lg">
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                        </ul>
                    </div>
                    <div class="right w-full lg:w-1/2 flex justify-center items-center rotate-12">
                        <img src="/assets/images/filterIcon1.png" class="size-[262px] cardImage rotate-45 rounded-2xl"
                        />
                    </div>
                </div>
                <div class="ServiceName_2 serviceList flex gap-4 flex-col-reverse lg:flex-row"
                    style="display: none;">
                    <div class="left w-full lg:w-1/2 flex flex-col gap-4">
                        <div class="service-heading text-xl font-bold capitalize">
                            Service Name 2
                        </div>
                        <p class="content-desc text-lg">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum repellat veniam deleniti rerum, dolor voluptas sequi porro suscipit eveniet dolorem labore distinctio maiores amet, laudantium facere facilis consequuntur. Pariatur, blanditiis.
                        </p>
                        <ul class="text-lg">
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                        </ul>
                    </div>
                    <div class="right w-full lg:w-1/2 flex justify-center items-center rotate-12">
                        <img src="/assets/images/filterIcon2.png" class="size-[262px] cardImage rotate-45 rounded-2xl"
                        />
                    </div>
                </div>
                <div class="ServiceName_3 serviceList flex gap-4 flex-col-reverse lg:flex-row"
                    style="display: none;">
                    <div class="left w-full lg:w-1/2 flex flex-col gap-4">
                        <div class="service-heading text-xl font-bold capitalize">
                            Service Name 3
                        </div>
                        <p class="content-desc text-lg">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum repellat veniam deleniti rerum, dolor voluptas sequi porro suscipit eveniet dolorem labore distinctio maiores amet, laudantium facere facilis consequuntur. Pariatur, blanditiis.
                        </p>
                        <ul class="text-lg">
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                        </ul>
                    </div>
                    <div class="right w-full lg:w-1/2 flex justify-center items-center rotate-12">
                        <img src="/assets/images/filterIcon3.png" class="size-[262px] cardImage rotate-45 rounded-2xl"
                        />
                    </div>
                </div>
                <div class="ServiceName_4 serviceList flex gap-4 flex-col-reverse lg:flex-row"
                    style="display: none;">
                    <div class="left w-full lg:w-1/2 flex flex-col gap-4">
                        <div class="service-heading text-xl font-bold capitalize">
                            Service Name 4
                        </div>
                        <p class="content-desc text-lg">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum repellat veniam deleniti rerum, dolor voluptas sequi porro suscipit eveniet dolorem labore distinctio maiores amet, laudantium facere facilis consequuntur. Pariatur, blanditiis.
                        </p>
                        <ul class="text-lg">
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                        </ul>
                    </div>
                    <div class="right w-full lg:w-1/2 flex justify-center items-center rotate-12">
                        <img src="/assets/images/filterIcon4.png" class="size-[262px] cardImage rotate-45 rounded-2xl"
                        />
                    </div>
                </div>
                <div class="ServiceName_5 serviceList flex gap-4 flex-col-reverse lg:flex-row"
                    style="display: none;">
                    <div class="left w-full lg:w-1/2 flex flex-col gap-4">
                        <div class="service-heading text-xl font-bold capitalize">
                            Service Name 5
                        </div>
                        <p class="content-desc text-lg">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum repellat veniam deleniti rerum, dolor voluptas sequi porro suscipit eveniet dolorem labore distinctio maiores amet, laudantium facere facilis consequuntur. Pariatur, blanditiis.
                        </p>
                        <ul class="text-lg">
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                        </ul>
                    </div>
                    <div class="right w-full lg:w-1/2 flex justify-center items-center rotate-12">
                        <img src="/assets/images/filterIcon5.png" class="size-[262px] cardImage rotate-45 rounded-2xl"
                        />
                    </div>
                </div>
                <div class="ServiceName_6 serviceList flex gap-4 flex-col-reverse lg:flex-row"
                    style="display: none;">
                    <div class="left w-full lg:w-1/2 flex flex-col gap-4">
                        <div class="service-heading text-xl font-bold capitalize">
                            Service Name 6
                        </div>
                        <p class="content-desc text-lg">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum repellat veniam deleniti rerum, dolor voluptas sequi porro suscipit eveniet dolorem labore distinctio maiores amet, laudantium facere facilis consequuntur. Pariatur, blanditiis.
                        </p>
                        <ul class="text-lg">
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                            <li class="font-semibold">
                                <i class="mr-3 text-orange-400 fa-solid fa-badge-check"></i>
                                Lorem ipsum dolor sit amet.
                            </li>
                        </ul>
                    </div>
                    <div class="right w-full lg:w-1/2 flex justify-center items-center rotate-12">
                        <img src="/assets/images/filterIcon1.png" class="size-[262px] cardImage rotate-45 rounded-2xl"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
></script>
<script is:inline>
    //#region Work Type Filter Buttons
    let workType = document.querySelectorAll(".services-brands .socialBrands");
    var FiltValText = "";
    workType.forEach((ele) =>
        ele.addEventListener("click", function () {
            // $('.wrapper .container .main').animate({
            //     scrollTop : $('.workHolder').offset().top
            // }, 500);

            workType.forEach((e) => {
                e.classList.remove("active");
            });
            ele.classList.add("active");

            FiltValText = "." + ele.textContent.toString().trim();

            $(".service-explain-container .serviceList")
                .not(FiltValText)
                .hide("1500");
            $(".service-explain-container .serviceList")
                .filter(FiltValText)
                .show("2000");
        }),
    );
    //#endregion
</script>
