---
import FooterLinks from "./FooterLinks.astro";


---
<FooterLinks />

<footer class="text-xs py-7 bg-gradient-to-r from-[#104939] to-[#083560] text-white">
    <div class="wrapper w-full flex justify-center items-center">
        <div class="container1320 lg:w-[1120px] flex justify-between gap-4 lg:flex-row flex-col">
           <div class="left-sec my-auto lg:w-[33%] text-center">
                <nav>
                    <ul class="flex gap-2">
                        <li><a href="javascript:void(0)">Legal Policy</li>
                        <li class="border-l pl-2"><a href="javascript:void(0)">Privacy Policy</a></li>
                        <li class="border-l pl-2"><a href="javascript:void(0)">Vulnerability Disclosure Policy</a></li>
                    </ul>
                </nav>
            </div>

            <div class="middle-sec my-auto lg:w-[33%] text-center">
                <span>
                    &copy; Copyright of <a class="text-white font-bold underline" href="/">Cyber Security Finland Oy</a> 
                </span>
            </div>

            <div class="right-sec my-auto w-[33%] text-center"></div>
        </div>
    </div>
</footer>
<span class="hidden bg-[#000a229a] backdrop-blur-sm"></span>