---

---

<section class="footerLinks flex justify-center items-center">
    <div class="container1320 lg:w-[1020px] lg:pt-20">
        <div class="wrapper flex w-full lg:flex-row flex-col lg:gap-40 gap-12 lg:px-0 py-5">
            <div class="content w-full flex gap-3 flex-wrap">
                <div class="links-Holder"></div>
                <div class="links-Holder"></div>
                <div class="links-Holder"></div>
            </div>
        </div>
    </div>
</section>