---
import FooterLinksAccordian from "./FooterLinksAccordian.astro";


---
<style>
    li{
        width: fit-content;
    }

    @media (max-width: 768px) {
        .links-container {
            max-height: 0px;
        }
        .links-container.expand {
            max-height: fit-content;
        }
    }
</style>
<!-- Accordion For Mobile -->
<section class="footerLinks flex justify-center items-center text-white relative bg-gradient-to-b from-[#1a4e3d] to-[#115b4e]">
    <div class="overlay absolute size-full bg-[#00000090] z-0"></div>
    <div class="z-[1] container1320 lg:w-[1020px] lg:pt-14">
        <div class="wrapper flex w-full lg:flex-row flex-col lg:gap-40 gap-12 lg:px-0 py-5">
            <div class="content w-full px-5 flex xl:gap-4 md:gap-x-4 lg:gap-x-10 flex-wrap text-xs">
                <div class="links-Holder xl:w-[63%] w-full">
                    <span class="mainHeadTitle md:cursor-none cursor-pointer py-4 w-full md:border-b border-gray-500 md:text-xl text-lg flex justify-between items-center">
                        <p>Products and Services</p>
                        <i class="fa-sharp fa-regular fa-angle-down transition-all ease-in-out duration-150 md:hidden block "></i>
                    </span>
                    <div class="links-container overflow-hidden flex sm:gap-0 md:gap-4 flex-wrap">
                        <span class="xl:w-[22%] md:w-[23%] w-full">

                            <FooterLinksAccordian accordianTitle="Network Security Platform" extraClass="md:pl-0 pl-4">
                                <FooterLinksAccordian accordianTitle="CLOUD DELIVERED SECURITY SERVICES" extraClass="md:pl-0 pl-4">
                                    <ul class="flex flex-col gap-4">
                                        <li class="hover:underline"><a href="javascript:void(0)">Advanced Threat Prevention</a></li>
                                        <li class="hover:underline"><a href="javascript:void(0)">DNS Security</a></li>
                                        <li class="hover:underline"><a href="javascript:void(0)">Data Loss Prevention</a></li>
                                        <li class="hover:underline"><a href="javascript:void(0)">IoT Security</a></li>
                                    </ul>
                                </FooterLinksAccordian>
                                <FooterLinksAccordian accordianTitle="Next-Generation Firewalls" extraClass="md:pl-0 pl-4">
                                    <ul class="flex flex-col gap-4">
                                        <li class="hover:underline"><a href="javascript:void(0)">Hardware Firewalls</a></li>
                                        <li class="hover:underline"><a href="javascript:void(0)">Strata Cloud Manager</a></li>
                                    </ul>
                                </FooterLinksAccordian>
    
                                <FooterLinksAccordian accordianTitle="SECURE ACCESS SERVICE EDGE" extraClass="md:pl-0 pl-4">
                                    <ul class="flex flex-col gap-4">
                                        <li class="hover:underline"><a href="javascript:void(0)">Prisma Access</a></li>
                                        <li class="hover:underline"><a href="javascript:void(0)">Prisma SD-WAN</a></li>
                                        <li class="hover:underline"><a href="javascript:void(0)">Autonomous Digital Experience Management</a></li>
                                        <li class="hover:underline"><a href="javascript:void(0)">Cloud Access Security Broker</a></li>
                                        <li class="hover:underline"><a href="javascript:void(0)">Zero Trust Network Access</a></li>
                                    </ul>
                                </FooterLinksAccordian>
                            </FooterLinksAccordian>
                        </span>
                        <span class="xl:w-[22%] md:w-[23%] w-full">

                            <FooterLinksAccordian accordianTitle="Code to Cloud Platform" extraClass="md:pl-0 pl-4">
                                <ul class="flex flex-col gap-4 md:pl-0 pl-4">
                                    <li class="hover:underline"><a href="javascript:void(0)">Prisma Cloud</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Cloud-Native Application Protection Platform</a></li>
                                </ul>
                            </FooterLinksAccordian>

                        </span>
                        <span class="xl:w-[22%] md:w-[23%] w-full">
                            <FooterLinksAccordian accordianTitle="AI-Driven Security Operations Platform" extraClass="md:pl-0 pl-4">
                                <ul class="flex flex-col gap-4 md:pl-0 pl-4">
                                    <li class="hover:underline"><a href="javascript:void(0)">Cortex XDR</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Cortex XSOAR</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Cortex Xpanse</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Cortex XSIAM</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">External Attack Surface Protection</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Security Automation</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Threat Prevention, Detection & Response</a></li>
                                </ul>
                            </FooterLinksAccordian>
                        </span>
                        <span class="xl:w-[22%] md:w-[23%] w-full">
                            <FooterLinksAccordian accordianTitle="Threat Intel and Incident Response Services" extraClass="md:pl-0 pl-4">
                                <ul class="flex flex-col gap-4 md:pl-0 pl-4">
                                    <li class="hover:underline"><a href="javascript:void(0)">Proactive Assessments</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Incident Response</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Transform Your Security Strategy</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Discover Threat Intelligence</a></li>
                                </ul>
                            </FooterLinksAccordian>
                        </span>
                    </div>
                </div>
                <div class="links-Holder xl:w-[16%] md:w-[23%] w-full">
                    <span class="mainHeadTitle md:cursor-none cursor-pointer py-4 w-full md:border-b border-gray-500 md:text-xl text-lg flex justify-between items-center">
                        <p>Company</p>
                        <i class="fa-sharp fa-regular fa-angle-down transition-all ease-in-out duration-150 md:hidden block "></i>
                    </span>
                    <div class="links-container overflow-hidden flex gap-4 flex-wrap">
                        <span class="w-full">
                                <FooterLinksAccordian extraClass="md:pl-0 pl-4">
                                <ul class="flex flex-col gap-4">
                                    <li class="hover:underline"><a href="javascript:void(0)">About Us</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Careers</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Contact Us</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Corporate Responsiblity</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Customers</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Investor Relations</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Location</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Newsroom</a></li>
                                </ul>
                            </FooterLinksAccordian>
                        </span>
                    </div>
                </div>
                <div class="links-Holder xl:w-[16%] md:w-[23%] w-full">
                    <span class="mainHeadTitle md:cursor-none cursor-pointer py-4 w-full md:border-b border-gray-500 md:text-xl text-lg flex justify-between items-center">
                        <p>Popular Links</p>
                        <i class="fa-sharp fa-regular fa-angle-down transition-all ease-in-out duration-150 md:hidden block "></i>
                    </span>
                    <div class="links-container overflow-hidden flex gap-4 flex-wrap">
                        <span class="w-full">
                            <FooterLinksAccordian extraClass="md:pl-0 pl-4">
                                <ul class="flex flex-col gap-4">
                                    <li class="hover:underline"><a href="javascript:void(0)">Blog</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Communities</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Content Library</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Cyberpedia</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Event Center</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Manage Email Preferences</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Products A-Z</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Product Certifications</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Report a Vulnerability</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Tech Docs</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Unit 42</a></li>
                                    <li class="hover:underline"><a href="javascript:void(0)">Do Not Sell or Share My Personal Information</a></li>
                                </ul>
                            </FooterLinksAccordian>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<span class="h-2 w-full flex hidden">
    <span class="blocks w-[25%] bg-violet-400"></span>
    <span class="blocks w-[25%] bg-indigo-400"></span>
    <span class="blocks w-[25%] bg-blue-400"></span>
    <span class="blocks w-[25%] bg-green-400"></span>
    <span class="blocks w-[25%] bg-yellow-400"></span>
</span>
<script is:inline>
    var footerHeadings = document.querySelectorAll(".links-Holder .mainHeadTitle");
    var footerAccordianHeadings = document.querySelectorAll(".accordian .headTitle");
    footerHeadings.forEach((heading) => {
        heading.addEventListener("click", ()=>{
            heading.nextElementSibling.classList.toggle("expand");
        })
    });

    footerAccordianHeadings.forEach(heading => {
        heading.addEventListener("click", ()=>{
            heading.nextElementSibling.classList.toggle("expand");
        })
    });


</script>