---
import FooterLinks from "./FooterLinks.astro";
import data from "../data/siteData";
const footerContent = data.textContent.FooterContent;
---
{
    footerContent.isFooterLinksShown && <FooterLinks />
}

<footer class="text-xs py-7 bg-gradient-to-b from-[#072822] to-[#083560] text-white">
    <div class="wrapper w-full flex flex-col gap-y-10 justify-center overflow-hidden items-center">
        <div class="container1320 px-2 lg:w-[950px] xl:w-[1340px] w-full flex justify-between gap-4 lg:flex-row flex-col">
            <div class="brandValue flex flex-col gap-3 lg:w-[30%] w-full">
                <img src="/assets/images/logo.png" alt="CyberSecurity Finland Logo" class="md:h-40 object-contain">
                <p>We offer a range of customized IT consulting services focused on the alignment of business and IT.  We specialize in providing advice, planning and strategy services that will power you with the ability to derive additional business value from your IT.</p>
            </div>

            <div class="socialLinks lg:w-[30%] w-full flex justify-center items-center flex-col lg:mt-0 mt-3" class:list={[!footerContent.socialLinks.isShown && "hidden"]}>
                <span class="text text-xl">Let's connect on Social Media</span>
                <ul class="flex gap-6 text-3xl text-gray-200">
                    {
                        footerContent.socialLinks.links.map((link)=>(
                            <li class="hover:text-gray-400"><a href={link.link} target="_blank"><i class={link.iconClass}></i></a></li>
                        ))
                    }
                </ul>
            </div>
        </div>
        <div class="container1320 lg:w-[950px] xl:w-[1340px] w-full flex justify-between items-center gap-4 lg:flex-row flex-col-reverse border-t pt-3">
           <div class="left-sec my-auto text-center">
                <nav class="w-max">
                    <ul class="flex gap-2">
                        <li><a href="javascript:void(0)">Legal Policy</li>
                        <li class="border-l pl-2"><a href="javascript:void(0)">Privacy Policy</a></li>
                        <li class="border-l pl-2"><a href="javascript:void(0)">Vulnerability Disclosure Policy</a></li>
                    </ul>
                </nav>
            </div>

            <div class="middle-sec my-auto lg:w-[33%] text-center">
                <span>
                    &copy; Copyright of <a class="text-white font-bold underline">Cyber Security Finland Oy</a> 
                </span>
            </div>

            <div class="right-sec my-auto w-[33%] text-center"></div>
        </div>
    </div>
</footer>
<a class="transition-all ease-in-out fixed cursor-pointer z-40 bottom-6 right-6 h-10 w-10 rounded-full border-2 border-green-700 bg-green-400 text-white flex justify-center items-center hover:shadow-xl hover:shadow-blue-400 translate-x-[200%]"
                onclick="bringToView('.scrollHeader')" id="BackToTop"><i class="fas fa-chevron-up"></i></a>
<span class="Not-needed md:pl-0 pl-4 Classes max-h-[250px] rotate-180 hidden bg-[#000a229a] backdrop-blur-sm"></span>

<script is:inline>
    //#region For Back to top 
	window.addEventListener('scroll', function () {
	    mybutton = document.getElementById("BackToTop");
	    if (document.body.scrollTop > 180 || document.documentElement.scrollTop > 180) {
	        mybutton.classList.add("translate-x-[200%]");
	        mybutton.classList.remove("translate-x-[200%]");
	    } else {
	        mybutton.classList.remove("translate-x-[200%]");
	        mybutton.classList.add("translate-x-[200%]");
	    }
	})
	//#endregion
</script>