---
interface Props {
    bannerTextTop? : string,
    middleText? : string,
    redirectUrl? : string
    redirectText? : string
}

const {
    bannerTextTop = "Join the Revolution", 
    middleText = "Get started with CyberSecurity Finland today", 
    redirectUrl="/contact",
    redirectText="Talk to an Expert"} = Astro.props
---
<div class="getStartedBox relative z-[1] flex flex-col justify-center items-center lg:py-5 py-3 lg:px-32">
    <div class="bannerText relative flex justify-center items-center">
        <span class="block absolute h-[2px] z-0 w-[250%] bg-white"></span>
        <p class="px-3 py-1 bg-green-600 text-white relative z-[1]">{bannerTextTop}</p>
    </div>
    <p class="text-3xl font-bold mt-5 text-center">{middleText}</p>
    <a href={`${redirectUrl}`} class="rounded-full w-fit border-2 border-[#03eac1] bg-[#108a74] hover:bg-[#10a98d] items-center flex gap-3 mt-5 px-8 py-2 font-bold shadow-lg">{redirectText}</a>
</div>