---

---

<section class="benefit relative lg:h-[110vh] bg-gradient-to-br from-[#032309af] to-[#010c24]">
    <div class="wrapper z-[2] relative size-full flex justify-center items-center">
        <div class="bg-shape hidden z-0 absolute size-full lg:flex justify-end items-center overflow-hidden">
            <img src="/assets/images/bgIncident2.png" class="brightness-50">
        </div>
        
        <div class="content z-10 flex justify-center items-center">
            <div class="container1320 lg:w-[1020px] lg:pt-20">
                <div class="wrapper flex w-full lg:flex-row flex-col lg:gap-40 gap-12 lg:px-0 py-5">
                    
                    <div class="content-left w-full lg:w-[35%] text-white flex flex-col justify-center items-center px-5">
                        
                        <span class="flex flex-col gap-7 leading-10">
                            <h2 class="text-[2.5rem] font-bold">The benefits of incident response</h2>
                            <span class="w-1/3 border border-[#10ac51] mt-5"></span>
                            <p class="leading-7">CyberSecurity's IR approach combines the industry-leading CyberSecurity Finland® platform along with an experienced team of responders to provide the following</p>
                        </span>
                        
                    </div>
                    <div class="content-right w-full lg:w-[75%] text-white lg:bg-transparent bg-[#07132899] p-5">
                        <ul>
                            <li class="flex items-start gap-7 pb-5">
                                <i class="fa-solid fa-arrow-right mt-4"></i>
                                <div class="content">
                                    <h3 class="text-xl">Speed and efficacy</h3>
                                    <p class="text-sm">CrowdStrike consultants’ skills and experience, combined with proven methodology and technology, allow the team to respond and contain incidents faster and more efficiently. The result: fewer hours incurred, less business interruption and lower costs to you.</p>
                                </div>
                            </li>
                            <li class="flex items-start gap-7 pb-5">
                                <i class="fa-solid fa-arrow-right mt-4"></i>
                                <div class="content">
                                    <h3 class="text-xl">Intelligence-led investigation</h3>
                                    <p class="text-sm">The IR team is supported throughout the response by the CrowdStrike Intelligence team. As a pioneer in adversary analysis, it helps identify adversaries present in the environment, enabling the IR team to quickly and efficiently contain the incident.</p>
                                </div>
                            </li>
                            <li class="flex items-start gap-7 pb-5">
                                <i class="fa-solid fa-arrow-right mt-4"></i>
                                <div class="content">
                                    <h3 class="text-xl">Tailored approach</h3>
                                    <p class="text-sm">CrowdStrike partners with you to develop a plan that takes into consideration your operational needs, as well as existing investments and resources, ensuring a thorough investigation and a customized remediation action plan.</p>
                                </div>
                            </li>
                            <li class="flex items-start gap-7 pb-5">
                                <i class="fa-solid fa-arrow-right mt-4"></i>
                                <div class="content">
                                    <h3 class="text-xl">Tools and technology</h3>
                                    <p class="text-sm">The same Falcon endpoint technology, cyber threat intelligence and proactive managed hunting services used in the IR investigation are available to you in the future, ensuring that you can both improve your security posture and stop future breaches.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<style is:inline>
    .triangleCurve.top{
        transform: skewX(-57deg);
    }

    .triangleCurve.bottom{
        transform: skewX(57deg);
    }
</style>

