---

---

<section class="Services bg-gradient-to-b from-[#030d23] to-[#102049]">
    <div class="wrapper relative size-full flex justify-center items-center overflow-hidden">
        <div class="container1320 size-full lg:w-[1200px] pt-48">
            <div class="content-holder h-fit items-center flex lg:flex-row flex-col-reverse lg:gap-16 gap-4">
                <div class="content-left w-1/2 z-[2] text-white">
                    <h2 class="text-4xl font-bold">Identities & Access, Intelligently Secured</h2>
                    
                    <p class="mt-4">Identities and their privileges are at the heart of every attack, and identity threats are hard to detect and increasingly complex. But complexity shouldn't mean compromise.</p>
                    <p class="mt-4">BeyondTrust is the only identity security platform that allows you to detect threats across your entire identity estate and respond by controlling privileges, access, credentials, and secrets.</p>
                    <p class="mt-4">With seamless integrations, unmatched discovery, and an identity-first data lake, we enable a zero-trust approach to least privilege, plus intelligent threat detection, to continuously strengthen your identity security posture.</p>

                    <a class="border-2 my-5 border-white items-center flex gap-3 px-8 py-2 font-bold shadow-lg hover:border-blue-500 hover:bg-white hover:text-[#030d23] w-fit transition-all ease-in-out duration-500" href="javascript:void(0)">See the Power of the Platform</a>
                </div>

                <div class="content-right h-[800px] w-1/2 z-[1] relative flex justify-center items-center">
                    <img class="absolute size-[1000px] scale-125" src="/assets/images/concentric.svg" alt="servicesImageBg">
                    <img class="absolute w-full" src="/assets/images/BT_diagram_2024-Product-Portfolio_012524.png" alt="servicesImageFront">
                </div>
            </div>
        </div>
    </div>
</section>