---
import data from "../data/siteData.js";
---

<section class="Services bg-gradient-to-br from-[#032309] to-[#102049]">
    <div class="wrapper relative size-full flex justify-center items-center overflow-hidden">
        <div class="container1320 size-full lg:w-[1200px] lg:pt-48">
            <div class="content-holder lg:px-0 px-5 h-fit items-center flex lg:flex-row flex-col-reverse lg:gap-16 gap-4">
                <div class="content-left lg:w-1/2 z-[2] text-white" data-aos="fade-right" data-aos-delay="500">
                    <h2 class="text-4xl font-bold">{data.textContent.HomePage.Services.heading}</h2>
                    
                    {
                        data.textContent.HomePage.Services.textParagraphs.map(para=>{
                            return <p class="mt-4">{para}</p>
                        })
                    }

                    <a class="border-2 my-5 border-white items-center flex gap-3 px-8 py-2 font-bold shadow-lg hover:border-blue-500 hover:bg-white hover:text-[#030d23] w-fit transition-all ease-in-out duration-500" href={data.textContent.HomePage.Services.redirectLink.linkURL}>{data.textContent.HomePage.Services.redirectLink.linkTitle}</a>
                </div>

                <div class="content-right lg:h-[800px] w-full lg:w-1/2 z-[1] relative flex justify-center items-center"  data-aos="fade-left" data-aos-delay="1000">
                    <img class="lg:absolute lg:size-[1000px] w-full h-[40rem] scale-125" src="/assets/images/concentric.svg" alt="servicesImageBg">
                    <img class="absolute lg:w-full md:w-[60%]" src="/assets/images/BT_diagram_2024-Product-Portfolio_012524.png" alt="servicesImageFront">
                </div>
            </div>
        </div>
    </div>
</section>