---

---

<header class="w-full fixed top-0 z-10 text-white"> <!-- bg-[#000A22] -->
    <div class="wrapper p-4 px-20 flex justify-center items-center">

        <div class="container1320 lg:w-[1320px] flex justify-between px-14">
            <div class="left-sec my-auto">
                <a href="" class="logo">
                    <img src="/assets/images/logo.png" class="h-14" alt="">
                </a>
            </div>
            <div class="middle-sec my-auto hidden lg:block">
                <nav>
                    <ul class="flex gap-4 font-semibold">
                        <li class="rounded-full px-2 hover:border-blue-400 border-2 border-transparent"><a href="javascript:void(0)">Services & Products</a>
                            <i class="fa-solid fa-angle-down text-xs"></i>
                        </li>
                        <li class="rounded-full px-2 hover:border-blue-400 border-2 border-transparent"><a href="javascript:void(0)">Solutions</a>
                            <i class="fa-solid fa-angle-down text-xs"></i>
                        </li>
                        <li class="rounded-full px-2 hover:border-blue-400 border-2 border-transparent"><a href="javascript:void(0)">Partners</a>
                            <i class="fa-solid fa-angle-down text-xs"></i>
                        </li>
                        <li class="rounded-full px-2 hover:border-blue-400 border-2 border-transparent"><a href="javascript:void(0)">About</a>
                            <i class="fa-solid fa-angle-down text-xs"></i>
                        </li>
                        <li class="rounded-full px-2 hover:border-blue-400 border-2 border-transparent"><a href="javascript:void(0)">Support</a>
                            <i class="fa-solid fa-angle-down text-xs"></i>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="right-sec my-auto hidden lg:block">
                <nav>
                    <ul class="flex gap-7">
                        <li><span class="cursor-pointer"><i class="fa-solid fa-magnifying-glass"></i></span></li>
                        <li><span class="cursor-pointer"><i class="fa-regular fa-globe"></i></span></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>        
</header>