---

---

<header class="w-full fixed top-0 z-[3] text-white"> <!-- bg-[#000A22] -->
    <div class="wrapper p-4 lg:px-20 flex justify-center items-center">

        <div class="container1320 lg:w-[1320px] w-full flex justify-between items-center lg:px-14">
            <div class="left-sec my-auto">
                <a href="/" class="logo">
                    <img src="/assets/images/logo.png" class="lg:h-14 h-10 object-contain" alt="">
                </a>
            </div>
            <div class="middle-sec my-auto lg:pt-0 pt-20 lg:px-0 px-4 lg:block w-2/3 lg:relative fixed z-[11] right-0 top-0 lg:h-fit h-screen lg:bg-transparent bg-[#165754a7] lg:backdrop-blur-[-1] backdrop-blur-sm lg:shadow-none shadow-md shadow-black lg:translate-x-0 translate-x-full transition-all ease-in-out">
                <nav>
                    <ul class="flex gap-4 font-semibold lg:flex-row flex-col">
                        <li class="rounded-full px-2 hover:border-blue-400 border-2 border-transparent"><a href="javascript:void(0)">Services & Products</a>
                            <i class="fa-solid fa-angle-down text-xs"></i>
                        </li>
                        <li class="rounded-full px-2 hover:border-blue-400 border-2 border-transparent"><a href="javascript:void(0)">Solutions</a>
                            <i class="fa-solid fa-angle-down text-xs"></i>
                        </li>
                        <li class="rounded-full px-2 hover:border-blue-400 border-2 border-transparent"><a href="javascript:void(0)">Partners</a>
                            <i class="fa-solid fa-angle-down text-xs"></i>
                        </li>
                        <li class="rounded-full px-2 hover:border-blue-400 border-2 border-transparent"><a href="javascript:void(0)">About</a>
                            <i class="fa-solid fa-angle-down text-xs"></i>
                        </li>
                        <li class="rounded-full px-2 hover:border-blue-400 border-2 border-transparent"><a href="javascript:void(0)">Support</a>
                            <i class="fa-solid fa-angle-down text-xs"></i>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="right-sec my-auto hidden lg:block">
                <nav>
                    <ul class="flex gap-7">
                        <li><span class="cursor-pointer"><i class="fa-solid fa-magnifying-glass"></i></span></li>
                        <li><span class="cursor-pointer"><i class="fa-regular fa-globe"></i></span></li>
                    </ul>
                </nav>
            </div>
            <div class="mobileNav relative size-7 flex justify-center items-center">
                <div class="menuIcon absolute z-[11] top-0 lg:hidden block scale-x-[-1]"><i class="fa-duotone fa-bars-sort cursor-pointer text-xl"></i></div>
            </div>
        </div>

    </div>        
</header>
<nav class="MenuMenu ">
</nav>

<script is:inline>
    const menuBtn = document.querySelector(".menuIcon i");
    const menuBtnContainer = document.querySelector(".middle-sec");
    menuBtn.addEventListener("click", ()=>{
        menuBtnContainer.classList.toggle("translate-x-full")
    })
</script>