---

---
<style>
    .hidden-text{
        transition: max-height 0.3s ease, padding 0.3s ease;
    }
    .card:hover {
        width: 30%;
        text-align: left;
    }

    .card:hover .hidden-text {
        max-height: 100px;
        padding: 10px 0;
    }
</style>
<section class="solutionCardsContainer h-screen bg-gradient-to-bl from-[#102049] to-[#032309] text-white">
    
    <div class="wrapper relative size-full gap-4 flex flex-col justify-center items-center overflow-hidden">
        
        <div class="container1320 lg:w-[1120px] pt-10" >
            <div class="textContent w-full lg:px-0 px-5 lg:w-[50%] lg:ml-10">
                <span class="uppercase">Solution by role</span>
                <p class="my-6 text-4xl font-semibold">Stay ahead of any security challenge</p>
            </div>
    
            <div class="hover-card-container flex justify-center items-center">
                <div class="card h-[50vh] border-r border-white flex justify-center items-center text-center bg-gradient-to-br from-[#085c9c] to-[#027252] rounded-tl-xl rounded-bl-xl overflow-hidden transition-all duration-300 ease-in-out w-[18%]">
                    <div class="card-content">
                        <h3 class="text-xl font-semibold">Card 1</h3>
                        <div class="hidden-text max-h-0 overflow-hidden">Additional content for Card 1</div>
                    </div>
                </div>
                <div class="card h-[50vh] border-r border-white flex justify-center items-center text-center bg-gradient-to-br from-[#085c9c] to-[#027252] overflow-hidden transition-all duration-300 ease-in-out w-[18%]">
                    <div class="card-content">
                        <h3 class="text-xl font-semibold">Card 2</h3>
                        <div class="hidden-text max-h-0 overflow-hidden">Additional content for Card 1</div>
                    </div>
                </div>
                <div class="card h-[50vh] border-r border-white flex justify-center items-center text-center bg-gradient-to-br from-[#085c9c] to-[#027252] overflow-hidden transition-all duration-300 ease-in-out w-[18%]">
                    <div class="card-content">
                        <h3 class="text-xl font-semibold">Card 3</h3>
                        <div class="hidden-text max-h-0 overflow-hidden">Additional content for Card 1</div>
                    </div>
                </div>
                <div class="card h-[50vh] border-r border-white flex justify-center items-center text-center bg-gradient-to-br from-[#085c9c] to-[#027252] overflow-hidden transition-all duration-300 ease-in-out w-[18%]">
                    <div class="card-content">
                        <h3 class="text-xl font-semibold">Card 4</h3>
                        <div class="hidden-text max-h-0 overflow-hidden">Additional content for Card 1</div>
                    </div>
                </div>
                <div class="card h-[50vh] flex justify-center items-center text-center bg-gradient-to-br from-[#085c9c] to-[#027252] rounded-tr-xl rounded-br-xl  overflow-hidden transition-all duration-300 ease-in-out w-[18%]">
                    <div class="card-content">
                        <h3 class="text-xl font-semibold">Card 5</h3>
                        <div class="hidden-text max-h-0 overflow-hidden">Additional content for Card 1</div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</section>
