---

---

<style>
    swiper-container.mySwiper2 {
        width: 100%;
        height: 500px;
        padding-top: 50px;
        padding-bottom: 30px;
    }   

    swiper-container.mySwiper2 swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }   

    swiper-container.mySwiper2 swiper-slide img {
        display: block;
    }
    .swiper-pagination{
        margin-top: 50px !important;
    }
</style>

<!-- Testimonials Section -->
<div class="testimonials p-4 bg-gradient-to-br from-green-800 to-cyan-700 text-white">
    <div class="wrapper p-4 px-5 lg:px-20 w-full flex justify-between items-center flex-col">
        <span class="title text-xl uppercase">
            Happy Customers
        </span>

        <span class="ContentHeading text-2xl lg:text-4xl font-bold lg:font-extrabold ">
            Trusted by <span
                class="text-transparent bg-clip-text bg-gradient-to-r from-lime-400 to-green-600">750+</span>
            businesses.
        </span>

        <span class="ContentHeading text-xl lg:text-4xl font-extrabold ">
            Here's what they say
        </span>

        <swiper-container class="mySwiper2" pagination="true" autoplay="true" effect="coverflow" grab-cursor="true"
            centered-slides="true" slides-per-view="auto" coverflow-effect-rotate="50" loop="true"
            coverflow-effect-stretch="0" coverflow-effect-depth="100" coverflow-effect-modifier="1"
            coverflow-effect-slide-shadows="true">
            <swiper-slide>
                <div class="card p-5 flex flex-col justify-center items-center gap-4 border-2 border-white rounded-lg">
                    <span class="reviewComment border-b border-gray-400 text-sm italic">
                        Cybersecurity Finland has been an invaluable partner in protecting our organization's data. Their expertise and proactive approach have helped us stay ahead of potential threats. The level of support we receive is unmatched, making them an essential part of our team.
                        <div class="reviewRating flex py-5 text-green-600">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </span>
                    <div class="reviewer w-full flex justify-between items-center text-left">
                        <span class="author flex flex-col">
                            <span class="text-lg font-bold">Eva M.</span>
                            <span class="text-xs">Marketing Manager</span>
                        </span>

                        <img src="/assets/images/review (1).jpg"
                            class="h-14 w-14 border-2 border-green-500  rounded-full">
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card p-5 flex flex-col justify-center items-center gap-4 border-2 border-white rounded-lg">
                    <span class="reviewComment border-b border-gray-400 text-sm italic">
                        We have worked with Cybersecurity Finland for several years, and their proactive measures have prevented numerous security incidents. Their reliability and commitment to our security give us peace of mind, knowing our digital assets are in safe hands.
                        <div class="reviewRating flex py-5 text-green-600">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </span>
                    <div class="reviewer w-full flex justify-between items-center text-left">
                        <span class="author flex flex-col">
                            <span class="text-lg font-bold">Jason B.</span>
                            <span class="text-xs">Operations Coordinator</span>
                        </span>

                        <img src="/assets/images/review (2).jpg"
                            class="h-14 w-14 border-2 border-green-500  rounded-full">
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card p-5 flex flex-col justify-center items-center gap-4 border-2 border-white rounded-lg">
                    <span class="reviewComment border-b border-gray-400 text-sm italic">
                        The team at Cybersecurity Finland is exceptional. They quickly identified vulnerabilities in our system and implemented effective solutions that significantly improved our security posture. Their dedication to excellence and continuous improvement is evident in the results we have seen.
                        <div class="reviewRating flex py-5 text-green-600">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </span>
                    <div class="reviewer w-full flex justify-between items-center text-left">
                        <span class="author flex flex-col">
                            <span class="text-lg font-bold">Sophie K.</span>
                            <span class="text-xs">Social Media Specialist</span>
                        </span>

                        <img src="/assets/images/review (3).jpg"
                            class="h-14 w-14 border-2 border-green-500  rounded-full">
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card p-5 flex flex-col justify-center items-center gap-4 border-2 border-white rounded-lg">
                    <span class="reviewComment border-b border-gray-400 text-sm italic">
                        Cybersecurity Finland's innovative approach to cybersecurity has been a game-changer for our company. They have earned our trust through their transparent and ethical practices. We highly recommend their services to any organization looking to enhance their cybersecurity.
                        <div class="reviewRating flex py-5 text-green-600">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </span>
                    <div class="reviewer w-full flex justify-between items-center text-left">
                        <span class="author flex flex-col">
                            <span class="text-lg font-bold">Alex R.</span>
                            <span class="text-xs">Content Development Lead</span>
                        </span>

                        <img src="/assets/images/review (4).jpg"
                            class="h-14 w-14 border-2 border-green-500  rounded-full">
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card p-5 flex flex-col justify-center items-center gap-4 border-2 border-white rounded-lg">
                    <span class="reviewComment border-b border-gray-400 text-sm italic">
                        From threat detection to incident response, Cybersecurity Finland has provided comprehensive and effective cybersecurity solutions for our organization. Their team's knowledge and experience are impressive, and their customer service is top-notch. We couldn't be more satisfied with their work.
                        <div class="reviewRating flex py-5 text-green-600">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </span>
                    <div class="reviewer w-full flex justify-between items-center text-left">
                        <span class="author flex flex-col">
                            <span class="text-lg font-bold">Olivia S. </span>
                            <span class="text-xs">Brand Ambassador</span>
                        </span>

                        <img src="/assets/images/review (5).jpg"
                            class="h-14 w-14 border-2 border-green-500  rounded-full">
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>

</div>
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
