---
import PageHero from "./components/PageHero.astro";
import MainLayout from "./layouts/MainLayout.astro";


---

<MainLayout pageTitle="Our Partners CyberSecurity Finland">
    <PageHero heading="Partners" textContent="At Cybersecurity Finland, our mission is to provide top-tier protection for our clients through cutting-edge technology and innovative solutions." imageFileName="bg(3).jpeg"></PageHero>
    
    <section class="partners bg-gradient-to-br from-[#032309] to-[#102049]">
        
    </section>
</MainLayout>
