---
import data from "./data/siteData";
const serviceContentData = data.textContent.Services2;


import MainLayout from "./layouts/MainLayout.astro";
import PageHero from "./components/PageHero.astro";
import ServicesPolygon from "./components/ServicesPolygon.astro";

---

<MainLayout pageTitle="Services at CyberSecurity Finland">
    <PageHero heading={serviceContentData.header.heading} textContent={serviceContentData.header.textParagraph} imageFileName="bg(2).jpeg"></PageHero>
    
    <section class="Services bg-gradient-to-br from-[#032309] to-[#102049]">
        <div class="wrapper relative size-full flex justify-center items-center overflow-hidden bg-cover bg-center">
            <div class="container1320 size-full lg:w-[1200px] lg:pt-10 py-5 lg:px-0 px-5">
                <div class="content-holder w-full text-white">

                    <ServicesPolygon />

                </div>
            </div>
        </div>
    </section>
    
</MainLayout>
